<a href="https://colab.research.google.com/github/harshitbhavnani/Machine-Learning/blob/master/Machine_Learning_Remedial_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning Remedial Assignments**
**Name: Harshit Bhavnani**

**Roll No: J076**

# Dataset: Blood Transfusion Service

In [368]:
import numpy as np
import pandas as pd 
from keras.utils import np_utils
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import pickle
import os

In [369]:
df=pd.read_csv('/content/php0iVrYT.csv')

In [370]:
df.isna().sum()

V1       0
V2       0
V3       0
V4       0
Class    0
dtype: int64

In [371]:
df["Class"].value_counts()

1    570
2    178
Name: Class, dtype: int64

In [372]:
from sklearn.utils import resample

df_majority = df[df.Class==2]
df_minority = df[df.Class==1]

# Upsample minority class
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=178,    # to match majority class
                                 random_state=42) # reproducible results

# Combine majority class with upsampled minority class
df = pd.concat([df_majority, df_minority_upsampled])

# Display new class counts
df.Class.value_counts()

2    178
1    178
Name: Class, dtype: int64

In [373]:
df["Class"].value_counts()

2    178
1    178
Name: Class, dtype: int64

In [374]:
X = df.drop(['Class'], axis=1).values
#X = StandardScaler().fit_transform(X)
Y = df['Class']

In [375]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.30, random_state = 101)

In [376]:
trainedforest = RandomForestClassifier(n_estimators=700).fit(X_Train,Y_Train)
predictionforest = trainedforest.predict(X_Test)
trainedforest.score(X_Train, Y_Train)

0.9116465863453815

# Dataset: Credit-g

In [377]:
import pandas as pd
import numpy as np

In [378]:
df=pd.read_csv('/content/dataset_31_credit-g.csv')

In [379]:
df.head()

  checking_status  duration  ... foreign_worker class
0            '<0'         6  ...            yes  good
1      '0<=X<200'        48  ...            yes   bad
2   'no checking'        12  ...            yes  good
3            '<0'        42  ...            yes  good
4            '<0'        24  ...            yes   bad

[5 rows x 21 columns]

In [380]:
df.nunique()

checking_status             4
duration                   33
credit_history              5
purpose                    10
credit_amount             921
savings_status              5
employment                  5
installment_commitment      4
personal_status             4
other_parties               3
residence_since             4
property_magnitude          4
age                        53
other_payment_plans         3
housing                     3
existing_credits            4
job                         4
num_dependents              2
own_telephone               2
foreign_worker              2
class                       2
dtype: int64

In [381]:
df.isnull().sum().sum()

0

In [382]:
df.dtypes

checking_status           object
duration                   int64
credit_history            object
purpose                   object
credit_amount              int64
savings_status            object
employment                object
installment_commitment     int64
personal_status           object
other_parties             object
residence_since            int64
property_magnitude        object
age                        int64
other_payment_plans       object
housing                   object
existing_credits           int64
job                       object
num_dependents             int64
own_telephone             object
foreign_worker            object
class                     object
dtype: object

In [383]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for col in ['checking_status', 'credit_history', 'purpose', 'savings_status','employment','personal_status']:
    df[col] = le.fit_transform(df[col])

for col in ['other_parties', 'other_payment_plans', 'housing', 'job','own_telephone','foreign_worker','class']:
    df[col] = le.fit_transform(df[col])

df['property_magnitude']=le.fit_transform(df['property_magnitude'])

In [384]:
df.shape

(1000, 21)

In [385]:
df.dtypes

checking_status           int64
duration                  int64
credit_history            int64
purpose                   int64
credit_amount             int64
savings_status            int64
employment                int64
installment_commitment    int64
personal_status           int64
other_parties             int64
residence_since           int64
property_magnitude        int64
age                       int64
other_payment_plans       int64
housing                   int64
existing_credits          int64
job                       int64
num_dependents            int64
own_telephone             int64
foreign_worker            int64
class                     int64
dtype: object

In [386]:
y=df['class']
X=df.drop('class',axis=1)
X.head()

   checking_status  duration  ...  own_telephone  foreign_worker
0                1         6  ...              1               1
1                0        48  ...              0               1
2                3        12  ...              0               1
3                1        42  ...              0               1
4                1        24  ...              0               1

[5 rows x 20 columns]

In [387]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [388]:
from sklearn.linear_model import LogisticRegression

In [389]:
lr=LogisticRegression(max_iter=2000)

lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [390]:
y_pred=lr.predict(X_test)

In [391]:
from sklearn.metrics import accuracy_score
print(accuracy_score( y_test, y_pred))

#score=lr.score(X_test,y_test)
#print(score)

0.795

# Dataset: IRIS

In [392]:
df = pd.read_csv('/content/dataset_61_iris.csv')

In [393]:
y = df['class']
x = df.drop('class',axis=1)

In [394]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [395]:
from sklearn import neighbors
classifier=neighbors.KNeighborsClassifier()

In [396]:
classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [397]:
predictions=classifier.predict(x_test)

In [398]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.95

# Dataset: Speed Dating

In [399]:
df=pd.read_csv('/content/speeddating.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,10,11,15,16,17,18,19,39,40,41,42,43,44,51,52,53,54,55,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,107,109) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [400]:
df.shape

(8378, 123)

In [401]:
df["match"]=df["match"].astype('category')
df["match_category"]=df["match"].cat.codes
df=df.select_dtypes(include=['uint8','int64','int8','float64']).copy()

In [402]:
y = pd.DataFrame([df.match_category]).T
x = pd.DataFrame(df)
x = df.drop(['match_category'], axis = 1)
print (x.shape)
print (y.shape)

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.25)
print (xtrain.shape) ; print (xtest.shape)
print (ytrain.shape) ; print (ytest.shape)

(8378, 6)
(8378, 1)
(6283, 6)
(2095, 6)
(6283, 1)
(2095, 1)

In [403]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(xtrain, ytrain)
print("Accuracy on training set: {:.2f}".format(svc.score(xtrain, ytrain)))
print("Accuracy on test set: {:.2f}".format(svc.score(xtest, ytest)))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy on training set: 1.00
Accuracy on test set: 0.99

# Dataset: Diabetes

In [404]:
df=pd.read_csv("/content/dataset_37_diabetes.csv")

In [405]:
df.head()

   preg  plas  pres  skin  insu  mass   pedi  age            class
0     6   148    72    35     0  33.6  0.627   50  tested_positive
1     1    85    66    29     0  26.6  0.351   31  tested_negative
2     8   183    64     0     0  23.3  0.672   32  tested_positive
3     1    89    66    23    94  28.1  0.167   21  tested_negative
4     0   137    40    35   168  43.1  2.288   33  tested_positive

In [406]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   preg    768 non-null    int64
 1   plas    768 non-null    int64
 2   pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   insu    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [407]:
df.describe().T

      count        mean         std  ...       50%        75%     max
preg  768.0    3.845052    3.369578  ...    3.0000    6.00000   17.00
plas  768.0  120.894531   31.972618  ...  117.0000  140.25000  199.00
pres  768.0   69.105469   19.355807  ...   72.0000   80.00000  122.00
skin  768.0   20.536458   15.952218  ...   23.0000   32.00000   99.00
insu  768.0   79.799479  115.244002  ...   30.5000  127.25000  846.00
mass  768.0   31.992578    7.884160  ...   32.0000   36.60000   67.10
pedi  768.0    0.471876    0.331329  ...    0.3725    0.62625    2.42
age   768.0   33.240885   11.760232  ...   29.0000   41.00000   81.00

[8 rows x 8 columns]

In [408]:
df.isna().sum()

preg     0
plas     0
pres     0
skin     0
insu     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [409]:
X=df.drop('class',axis=1)
y=df['class']

In [410]:
y=le.fit_transform(y)

In [411]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [412]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn.fit(X_train,y_train)
knn.score(X_test,y_test)

0.7337662337662337

# Dataset: KC2

In [413]:
df=pd.read_csv("/content/kc2.csv")

In [414]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loc               522 non-null    float64
 1   v(g)              522 non-null    float64
 2   ev(g)             522 non-null    float64
 3   iv(g)             522 non-null    float64
 4   n                 522 non-null    float64
 5   v                 522 non-null    float64
 6   l                 522 non-null    float64
 7   d                 522 non-null    float64
 8   i                 522 non-null    float64
 9   e                 522 non-null    float64
 10  b                 522 non-null    float64
 11  t                 522 non-null    float64
 12  lOCode            522 non-null    int64
 13  lOComment         522 non-null    int64
 14  lOBlank           522 non-null    int64
 15  lOCodeAndComment  522 non-null    int64
 16  uniq_Op           522 non-null    float64
 17  uniq_Opnd         522 non-null    float64
 18  total_Op          522 non-null    float64
 19  total_Opnd        522 non-null    float64
 20  branchCount       522 non-null    float64
 21  problems          522 non-null    object
dtypes: float64(17), int64(4), object(1)
memory usage: 89.8+ KB

In [415]:
y=df['problems']
X=df.drop('problems',axis=1)

In [416]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(y.unique())
y = le.transform(y)

In [417]:
scaler= StandardScaler()
X = scaler.fit_transform(X.loc[:,:'branchCount'])

In [418]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [419]:
from sklearn import linear_model

lr = linear_model.LogisticRegression(max_iter=2000)
sgd = linear_model.SGDClassifier()

In [420]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(lr, X_train, y_train, cv=5, scoring='roc_auc')
np.mean(scores)
np.std(scores)

0.07872335406453511

In [421]:
scores = cross_val_score(sgd, X_train, y_train, cv=5, scoring='roc_auc')
np.mean(scores)
np.std(scores)

0.10231844309595278

In [422]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

penalty = ['l1', 'l2']
C = [0.0001, 0.001, 0.01]
class_weight = [{1:0.5, 0:0.5}, {1:0.6, 0:0.4}]
solver = ['liblinear', 'saga'] 

paramgrid = dict(penalty=penalty, C=C, class_weight=class_weight, solver=solver)

grid = GridSearchCV(estimator=lr, param_grid=paramgrid, scoring='roc_auc', verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:    2.1s finished

In [423]:
grid_result.best_score_
grid_result.best_params_

{'C': 0.0001,
 'class_weight': {0: 0.5, 1: 0.5},
 'penalty': 'l2',
 'solver': 'liblinear'}

In [424]:
y_test_pred = grid_result.predict(X_test)
y_test_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1])

In [425]:
from sklearn.metrics import accuracy_score
ans = accuracy_score(y_test, y_test_pred)

In [426]:
ans

0.8095238095238095

In [427]:
penalty = ['l1', 'l2']
eta0 = [0.5, 1, 1.5]
loss= ['hinge','log']
alpha = [0.0001, 0.001]
learning_rate = ['constant', 'optimal']
class_weight = [{1:0.5, 0:0.5}, {1:0.6, 0:0.4}]


paramgrid = dict(penalty=penalty, eta0=eta0, class_weight=class_weight, loss=loss, alpha=alpha, learning_rate=learning_rate)

grid2 = GridSearchCV(estimator=sgd, param_grid=paramgrid, scoring='roc_auc', verbose=1, n_jobs=-1)
grid_result2 = grid2.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 96 candidates, totalling 480 fits

[Parallel(n_jobs=-1)]: Done 460 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done 480 out of 480 | elapsed:    1.9s finished

In [428]:
grid_result2.best_score_
grid_result2.best_params_

{'alpha': 0.001,
 'class_weight': {0: 0.4, 1: 0.6},
 'eta0': 1,
 'learning_rate': 'optimal',
 'loss': 'log',
 'penalty': 'l2'}

In [429]:
y_test_pred2 = grid_result2.predict(X_test)

In [430]:
y_test_pred2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1])

In [431]:
from sklearn.metrics import accuracy_score
ans2 = accuracy_score(y_test, y_test_pred2)

In [432]:
ans2

0.8952380952380953

# Dataset: Spambase

In [433]:
df=pd.read_csv('/content/dataset_44_spambase.csv')

In [434]:
df.head()

   word_freq_make  word_freq_address  ...  capital_run_length_total  class
0            0.00               0.64  ...                       278      1
1            0.21               0.28  ...                      1028      1
2            0.06               0.00  ...                      2259      1
3            0.00               0.00  ...                       191      1
4            0.00               0.00  ...                       191      1

[5 rows x 58 columns]

In [435]:
df.isna().sum().sum()

0

In [436]:
df.dtypes

word_freq_make                float64
word_freq_address             float64
word_freq_all                 float64
word_freq_3d                  float64
word_freq_our                 float64
word_freq_over                float64
word_freq_remove              float64
word_freq_internet            float64
word_freq_order               float64
word_freq_mail                float64
word_freq_receive             float64
word_freq_will                float64
word_freq_people              float64
word_freq_report              float64
word_freq_addresses           float64
word_freq_free                float64
word_freq_business            float64
word_freq_email               float64
word_freq_you                 float64
word_freq_credit              float64
word_freq_your                float64
word_freq_font                float64
word_freq_000                 float64
word_freq_money               float64
word_freq_hp                  float64
word_freq_hpl                 float64
word_freq_george              float64
word_freq_650                 float64
word_freq_lab                 float64
word_freq_labs                float64
word_freq_telnet              float64
word_freq_857                 float64
word_freq_data                float64
word_freq_415                 float64
word_freq_85                  float64
word_freq_technology          float64
word_freq_1999                float64
word_freq_parts               float64
word_freq_pm                  float64
word_freq_direct              float64
word_freq_cs                  float64
word_freq_meeting             float64
word_freq_original            float64
word_freq_project             float64
word_freq_re                  float64
word_freq_edu                 float64
word_freq_table               float64
word_freq_conference          float64
char_freq_%3B                 float64
char_freq_%28                 float64
char_freq_%5B                 float64
char_freq_%21                 float64
char_freq_%24                 float64
char_freq_%23                 float64
capital_run_length_average    float64
capital_run_length_longest      int64
capital_run_length_total        int64
class                           int64
dtype: object

In [437]:
X = df.drop('class',axis=1)
y = df['class']

In [438]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [439]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [440]:
print("Accuracy:",accuracy_score(y_test, y_pred))

Accuracy: 0.9384503982621288