<a href="https://colab.research.google.com/github/harshitbhavnani/Machine-Learning/blob/master/Machine_Learning_Lab3_Exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Name: Harshit Bhavnani**
**ROLL NO : J076**

**EXPERIMENT/LAB: 3**

This Lab covers the following Topics:

1. Filtering
2. Basic statistics(Apply Conditions,Changing Indexes)
3. Line plots
4. Area Plots(Stack/Unstacled)
5. Bar Plots(Vertical/Horizontal)
6. Histogram

**Assignment:** Which two countries have the same immigration trends?

# Part-1

In [ ]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

!conda install -c anaconda xlrd --yes

df_can = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)

print ('Data read into a pandas dataframe!')

In [ ]:
df_can.head()

In [ ]:
df_can.tail()

In [ ]:
df_can.info()

In [ ]:
df_can.columns

In [ ]:
df_can.dtypes

In [ ]:
df_can.shape

In [ ]:
df_can.head()

In [ ]:
df_can.drop(['AREA','REG','Type','Coverage','DEV'], axis='columns', inplace=True)

df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent', 'RegName':'Region','DevName':'DevStatus'}, inplace=True)

df_can['Total'] = df_can.sum(axis='columns')

df_can.head()

In [ ]:
# applying conditions on dataframe

condition = df_can['Continent'] == 'Asia'

df_can[condition]

In [ ]:
df_can[(df_can['Continent']=='Asia') | (df_can['Continent']=='Europe')]

In [ ]:
df_can[['Country',1980,1981]]

In [ ]:
df_can.Country

In [ ]:
type(df_can.Country)

In [ ]:
type(df_can[['Country',1980,1981]])

In [ ]:
df_can['Continent']

In [ ]:
df_can.index

In [ ]:
df_can.set_index('Country', inplace=True)

df_can.head()

In [ ]:
df_can.loc['India']

In [ ]:
df_can.iloc[87]

In [ ]:
df_can.loc['India',1980]

In [ ]:
df_can.iloc[1,1]

In [ ]:
import matplotlib.pyplot as plt
import matplotlib as mpl

In [ ]:
years = range(1980,2014)
india = df_can.loc['India',years]

india.head()

In [ ]:
india.plot()

In [ ]:
years = range(1980,2014)
india = df_can.loc['India',years]

india.plot(
    kind='line',
    figsize=(10,10)
)

plt.title('Immigration to Canada from 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.text(1994,22000,"Peak")
plt.show()

In [ ]:
years = range(1980,2014)
indopak = df_can.loc[['India','Pakistan'],years]

indopak1 = indopak.transpose()

indopak1

indopak1.plot(
    kind='line',
    figsize=(10,10)
)

plt.title('Immigration to Canada from India and Pakistan 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.text(1994,22000,"Peak")
plt.show()

In [ ]:
# top 5 countries

df_can.sort_values(by='Total', ascending=False, inplace=True, axis='index')

df_can.head()

dftop = df_can.head(5)

dftop

dftop = dftop[years]

dftop1 = dftop.transpose()


dftop1.plot(
    kind='line',
    figsize=(10,10)
)

plt.title('Immigration to Canada from Top Five nations 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

In [ ]:
# top 5 countries

df_can.sort_values(by='Total', ascending=True, inplace=True, axis='index')

df_can.head()

dftop = df_can.head(5)

dftop

dftop = dftop[years]

dftop1 = dftop.transpose()


dftop1.plot(
    kind='line',
    figsize=(10,10)
)

plt.title('Immigration to Canada from Bottom Five nations 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

In [ ]:
#When to use line charts
#data is time series 


#Top 5 Asian countries immigrants to canada

df_can.sort_values(by='Total',axis='index',inplace=True,ascending=True)
 
dfbot5=df_can.head(5)
 
dfbot5=dfbot5[years]
 
dfbot5=dfbot5.transpose()
 
dfbot5.plot(
    kind='box',
    figsize=(10,10),
    color='blue',
    vert=False
)
 
plt.title("Bottom five countries sending immigrants to canada from 1980-2013")
plt.ylabel('Number of immigrants')
plt.show()

#Part-2

In [ ]:
# top 5 countries

df_can.sort_values(by='Total', ascending=False, inplace=True, axis='index')

df_can.head()

dftop = df_can.head(5)

dftop

dftop = dftop[years]

dftop1 = dftop.transpose()


dftop1.plot(
    kind='area',
    figsize=(10,10)
)
plt.title('Immigration to Canada from Top Five nations 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

In [ ]:
dftop1.plot(
    kind='area',
    figsize=(10,10),
    stacked=False
)
plt.title('Immigration to Canada from Top Five nations 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

In [ ]:
dftop1.plot(
    kind='area',
    figsize=(10,10),
    stacked=False,
    alpha=0.25   #for transparency - range is 0-1, default is 0.5
)
plt.title('Immigration to Canada from Top Five nations 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

In [ ]:
dftop1.plot(
    kind='area',
    figsize=(10,10),
    stacked=False,
    alpha=0.75   #for transparency - range is 0-1, default is 0.5
)
plt.title('Immigration to Canada from Top Five nations 1980 to 2013')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

# Plot-3

In [ ]:
#histograms

df_can[2013].head()

count, bins = np.histogram(df_can[2013])

print(count)
print(bins)

In [ ]:
df_can[2013].plot(
    kind='hist',
    figsize=(10,10)
)

plt.title('Histogram of Immigration to Canada in 2013 from 195 countries')
plt.xlabel('Number of immigrants')
plt.ylabel('Number of countries')
plt.show()

In [ ]:
count, bins = np.histogram(df_can[2013])

df_can[2013].plot(
    kind='hist',
    figsize=(10,10),
    xticks=bins
)

plt.title('Histogram of Immigration to Canada in 2013 from 195 countries')
plt.xlabel('Number of immigrants')
plt.ylabel('Number of countries')
plt.show()

In [ ]:
count, bins = np.histogram(df_can[2013])

df_can[2013].plot(
    kind='hist',
    figsize=(10,10),
    xticks=bins
)

plt.title('Histogram of Immigration to Canada in 2013 from 195 countries')
plt.xlabel('Number of immigrants')
plt.ylabel('Number of countries')
plt.show()

#Part-4

In [ ]:
years = range(1980,2014)
df_india = df_can.loc['India', years]

df_india.plot(
    kind='bar',
    figsize=(10,10)
)

plt.title('Immigration to Canada 1980-2013 from India')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

In [ ]:
years = range(1980,2014)
df_india = df_can.loc['India', years]

df_india.plot(
    kind='bar',
    figsize=(10,10)
)

plt.title('Immigration to Canada 1980-2013 from India')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')

plt.annotate(
    'IT Boom in Canada',
     xy=(17,28000),
     rotation = 45,
     va='top',
     ha='right'
)

plt.annotate(
    '',
     xy=(25,35000),
     xytext=(13,22000),
     xycoords='data',
     arrowprops=dict(arrowstyle='->', color='blue')

)


plt.annotate(
    'Recession in Canada', # text
     xy=(5,12000), #pos of text
     rotation = -35,
     va='top',
     ha='right'
)

plt.annotate(
    '',
     xy=(6,6000), #head of arrow
     xytext=(1,10000), #base of arrow
     xycoords='data',
     arrowprops=dict(arrowstyle='->', color='red')

)



plt.show()

In [ ]:
years = range(1980,2014)
df_india = df_can.loc['India', years]

df_india.plot(
    kind='barh',
    figsize=(10,10)
)

plt.annotate(
    'IT Boom in Canada',
     xy=(30000,19),
     rotation = 45,
     va='top',
     ha='right'
)
plt.annotate(
    '',
     xy=(35000,25),
     xytext=(22000,13),
     xycoords='data',
     arrowprops=dict(arrowstyle='->', color='blue')

)
plt.annotate(
    'Recession in Canada', # text
     xy=(12000,5), #pos of text
     rotation = -35,
     va='top',
     ha='right'
)
plt.annotate(
    '',
     xy=(4000,5), #head of arrow
     xytext=(12000,1), #base of arrow
     xycoords='data',
     arrowprops=dict(arrowstyle='->', color='red')
)

plt.title('Immigration to Canada 1980-2013 from India')
plt.ylabel('Years')
plt.xlabel('Number of immigrants')
plt.show()

In [ ]:
#top 15 countries
years =range(2009,2014)

top5 = df_can.head(5)

top5[years].plot(
    kind='bar',
    figsize=(25,10)
)

In [ ]:
years = range(1981,2014)
df_can['Total-1981-2013'] = df_can[years].sum(axis='columns')
df_can.head()

**Assignment: Which two countries have the same immigration trends?**

In [ ]:
df_can.head()

In [ ]:
df_can['Mean']=df_can['Total']/14
df_can.head()

In [ ]:
df1=df_can[(df_can['Continent']=='Asia')]

In [ ]:
import statistics 
mean_asia=df1["Total"].sum(axis=0)/df1.shape[0]
mean_asia
std_asia=statistics.stdev(df1["Total"])
print(std_asia)

In [ ]:
df1.describe()

In [ ]:
df2=df1[ (df1['Total']<(mean_asia+std_asia)) & (df1['Total']>abs(mean_asia-std_asia))]
df2

In [ ]:
years = range(1980,2014)
df2[years].plot(
    kind='bar',
    figsize=(20,10)
)

In [ ]:
df2 = df2[years]

df3 = df2.transpose()

df3.plot(
    kind='line',
    figsize=(20,10),#stacked=False,
    #alpha=0.25
    )

plt.title('Immigration to Canada from Similar Countries in Asia')
plt.xlabel('Years')
plt.ylabel('Number of immigrants')
plt.show()

**Inference**

The Data pertaining to Asia was filtered into df2 where all the Asian countries that were close to the mean of Number of Immigrants in Asia.

The countries consisting of average amount of immigrants are :  Iran,Lebanon,Republic of Korea,Vietnam,Sri Lanka

Iran and Republic of Korea followed similar trend.

Lebanon and Sri Lanka also followed the same trend and experienced a substantial hike in the number of immigrants around 1990.